# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

# Optional npm cache directory
.npm

# Compiled binary addons
build/release
build/dev
build/

# Logs
logs
*.log
npm-debug.log*

# Other
.DS_Store
package-lock.json
playground/

# Data
data/
.db
.db-shm
.db-wal